/*
----------------------------------------------------
Custom styles
----------------------------------------------------

You can override any Commpress styles here.

Some examples are provided below.

----------------------------------------------------
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

/* override layout styles */

.selected_para{
	background-color:#F0F7F6;
}

body{
	background-color: #fff;
}

a 
{
	color:#0B8A7A;
	text-decoration: none;
}

body #book_header {
	border-bottom:3px solid #B2D1CD;
	background-repeat: no-repeat;
	background-color: #fff;
	background-image: -moz-linear-gradient( rgba(0,0,0,0.22), rgba(255,255,255,0) 80px );
	background-image: -webkit-linear-gradient( rgba(0,0,0,0.22), rgba(255,255,255,0) 80px );
	color: #555;
}

#book_nav {
	border-bottom: 2px solid #bbb;
}

#page_title
{
	padding-top: 7px;
}

#title h1 a:hover {
	color: #36bcab;
}

#user_links ul li a,#user_links ul li a:link,#user_links ul li a:hover,#user_links ul li a:visited{
	background-color:#36bcab;
	color: #eee;
}

#page_wrapper {
	border: 5px solid #B2D1CD;
	-webkit-box-shadow: #888 2px 2px 5px;
	-moz-box-shadow: #888 2px 2px 5px;
	-khtml-box-shadow: #888 2px 2px 5px;
}

#content div.multipager{
	border-top:1px solid #A7A7A0;
	border-bottom:1px dotted #A7A7A0;
}

#sidebar 
{
	background: #dfdddd;
}

li.sidebar_header {
	border: 3px solid #B2D1CD;
	border-bottom: 0;
}

.sidebar_minimiser {
	border: 3px solid #B2D1CD;
}


div.sidebar_header{
	border-bottom:2px solid #A7A7A0;
}

div#respond{
	background-color:#F0F7F6;
	margin:0;
	padding:8px 8px;
	}

span.commenticonbox a.para_permalink:focus
{
	background-color: #FAF7BB;
}


#footer{
	background:#FFF;
	border: 5px solid #B5BFB2;
}

#footer_inner{
	padding:5px 30px 5px 30px;
}

#footer_inner img{
	float: left;
	padding: 2px 5px 2px 0;
}

.comment-identifier{
	background: #F0F7F6;
}

		.comment-author-admin .comment-identifier,
		.bypostauthor .comment-identifier
		{
			background: #C5E3DF;
		}


/* override typography styles */

body #title h1
{
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	padding-top: 0px;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

.sidebar_header h2{
	font-family: Helvetica,Arial,sans-serif;
}

.post {
	font-family:Georgia, 'Times New Roman', Times, serif;
}

.post p{
	font-size:.9em;
	line-height:1.45;
}

.post a{
	color:#0B8A7A;
	text-decoration:none;
}

.post h2 a:active,
.post h2 a:focus
{
	background-color: #FAF7BB;
}

.post li{
	font-size:.9em;
	line-height:1.45;
}

.post blockquote
{
	background: url(../commentpress/style/images/quote.png) no-repeat;
	margin-left: 5px;
	padding: 2px 0 8px 20px;
}

.indent
{
	margin-left: 20px;
}

.epigraph
{
	font-size: .9em;
	line-height: 1.45;
	background: url(../commentpress/style/images/quote.png) no-repeat;
	margin-left: 5px;
	padding: 2px 0 3px 20px;
}

.cite
{
	font-size: .9em;
	line-height: 1.45;
	text-align: right;
	margin-right: 10px;
	padding-bottom: 16px;
}

.footnotes{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

#footer{
	font-family:'Helvetica Neue', Arial, sans-serif;
	font-size:.8em;
	line-height: 1.45em;
	border: 5px solid #B2D1CD;
}

#footer_inner {
	color: #999;
}

/* custom login page styles */

.login p.error {
    padding: 5px;
    border: 1px solid #c00;
    background-color: #ffebe8;
    color: #333;
    }

#theme-my-login p.message
{
	background-color: #FAF7BB;
}

.login form
{
	background: #FAF7BB;
}

ul.tml-action-links li a,
ul.tml-user-links li a
{
		background: #175988;
}




/* Rollover footnotes*/

a.note {
	font-size:.8em;
	vertical-align:baseline;
	line-height:0;
	border: 1px solid #444;
	background: #B2D1CD; 
	color: #333; 
	text-decoration:none; 
	padding: 1px 1px;
}
		
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #444;
	background-color: #C5E3DF;
	padding: 10px;
	width:400px;
	font:11px Verdana, sans-serif;
}
